

<!-- <div class="preloader">
<div class="preloader-spinner">
<div class="loader-content">
<img src="assets/img/preloader.gif" alt="JSOFT">
</div>
</div>
</div> -->


<header id="header-area" class="fixed-top">

<div id="header-top" class="d-none d-xl-block">
<div class="container">
<div class="row">

<div class="col-lg-3 text-left">
<i class="fa fa-map-marker"></i> 802/2, Mirpur, Dhaka
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-mobile"></i> +1 800 345 678
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
</div>


<div class="col-lg-3 text-right">
<div class="header-social-icons">
<a href="#"><i class="fa fa-behance"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
</div>
</div>

</div>
</div>
</div>


<div id="header-bottom">
<div class="container">
<div class="row">

<div class="col-lg-4">
<a href="index.html" class="logo">
<img src="assets/img/logo.png" alt="JSOFT">
</a>
</div>


<div class="col-lg-8 d-none d-xl-block">
<nav class="mainmenu alignright">
<ul>
<li><a href="#">Home</a>
<ul>
<!-- <li><a href="index.html">Home 1</a></li>
<li><a href="index2.html">Home 2</a></li>
<li><a href="index3.html">Home 3</a></li> -->
</ul>
</li>
<li><a href="about.html">About</a></li>
<li><a routerLink="/customer/service">services</a></li>
<li><a href="#">Cars</a>
<ul>
<li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
<li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
<li><a href="car-without-sidebar.html">Car Without Sidebar</a></li>
<li><a href="car-details.html">Car Details</a></li>
</ul>
</li>
<li><a href="index.html">Pages</a>
<ul>
<li><a href="package.html">Pricing</a></li>
<li><a href="driver.html">Driver</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="help-desk.html">Help Desk</a></li>
<li><a href="login.html">Log In</a></li>
<li><a href="register.html">Register</a></li>
<li><a href="404.html">404</a></li>
</ul>
</li>
<!-- <li><a href="#">Blog</a>
<ul>
<li><a href="article.html">Blog Page</a></li>
<li><a href="article-details.html">Blog Details</a></li>
</ul>
</li> -->
<li class="active"><a routerLink="/customer/contact">Contact</a></li>
<li><a routerLink="/customer/register">Register</a></li>
<li><a routerLink="/customer/login">Log In</a></li>
</ul>
</nav>
</div>

</div>
</div>
</div>

</header>


<section id="page-title-area" class="section-padding overlay">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>Contact Us</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>
</div>
</section>


<div class="contact-page-wrao section-padding">
<div class="container">
<div class="row">
<div class="col-lg-10 m-auto">
<div class="contact-form">
<form action="index.html">
<div class="row">
<div class="col-lg-6 col-md-6">
 <div class="name-input">
<input type="text" placeholder="Full Name">
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="email-input">
<input type="email" placeholder="Email Address">
</div>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="website-input">
<input type="url" placeholder="Website">
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="subject-input">
<input type="text" placeholder="Subject">
</div>
</div>
</div>
<div class="message-input">
<textarea name="review" cols="30" rows="10" placeholder="Message"></textarea>
</div>
<div class="input-submit">
<button type="submit">Submit Message</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="maparea">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29213.038296132225!2d90.39150904197642!3d23.760577791538438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c783c3404f0d%3A0x76ae0d2edabc81df!2sHatir+Jheel!5e0!3m2!1sen!2sbd!4v1517941663187"></iframe>
</div>


<section id="footer-area">

<div class="footer-widget-area">
<div class="container">
<div class="row">

<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>About Us</h2>
<div class="widget-body">
<img src="assets/img/logo.png" alt="JSOFT">
<p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>
<div class="newsletter-area">
<form action="index.html">
<input type="email" placeholder="Subscribe Our Newsletter">
<button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
</form>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>Recent Posts</h2>
<div class="widget-body">
<ul class="recent-post">
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Lorem ipsum dolor sit amet
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
consectetur adipisicing elit?
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
</ul>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>get touch</h2>
<div class="widget-body">
<p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>
<ul class="get-touch">
<li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
<li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
<li><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5f343e252a343e323b2a676c1f38323e3633713c3032">[email&#160;protected]</a></li>
</ul>
<a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="footer-bottom-area">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<p>
Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="ac08cb2c6638e19f784047a1-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
</p>
</div>
</div>
</div>
</div>

</section>


<div class="scroll-top">
<img src="assets/img/scroll-top.png" alt="JSOFT">
</div>


