

<div class="preloader">
<div class="preloader-spinner">
<div class="loader-content">
<img src="assets/img/preloader.gif" alt="JSOFT">
</div>
</div>
</div>


<header id="header-area" class="fixed-top">

<div id="header-top" class="d-none d-xl-block">
<div class="container">
<div class="row">

<div class="col-lg-3 text-left">
<i class="fa fa-map-marker"></i> 802/2, Bangalore,Karnataka
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-mobile"></i> +91 8888988888
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
</div>


<div class="col-lg-3 text-right">
<div class="header-social-icons">
<a href="#"><i class="fa fa-behance"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
</div>
</div>

</div>
</div>
</div>


<div id="header-bottom">
<div class="container">
<div class="row">

<div class="col-lg-4">
<a href="index.html" class="logo">
<!-- <img src="assets/img/logo.png" alt="JSOFT"> -->
<h1 style="color: aliceblue;
font-weight: 600;
font-family: fantasy;">CARRENT</h1>
</a>
</div>


<div class="col-lg-8 d-none d-xl-block">
<nav class="mainmenu alignright">
<ul>
<li class="active"><a href="#">Home</a>
<ul>
<!-- <li><a href="index.html">Home 1</a></li>
<li><a href="index2.html">Home 2</a></li>
<li><a href="index3.html">Home 3</a></li> -->
</ul>
</li>
<li><a routerLink="/customer/about">About</a></li>
<li><a routerLink="/customer/service">services</a></li>
<li><a href="#">Cars</a>
<ul>
<li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
<li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
<li><a href="car-without-sidebar.html">Car Without Sidebar</a></li>
<li><a href="car-details.html">Car Details</a></li>
</ul>
</li>
<li><a href="index.html">Pages</a>
<ul>
<li><a href="package.html">Pricing</a></li>
<li><a href="driver.html">Driver</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="help-desk.html">Help Desk</a></li>

<li><a href="404.html">404</a></li>
</ul>
</li>
<!-- <li><a href="#">Blog</a>
<ul>
<li><a href="article.html">Blog Page</a></li>
<li><a href="article-details.html">Blog Details</a></li>
</ul>
</li> -->
<li><a routerLink="/customer/contact">Contact</a></li>

<li><a routerLink="/customer/register">Register</a></li>
<li><a routerLink="/customer/login">Log In</a></li>
</ul>
</nav>
</div>

</div>
</div>
</div>

</header>


<section id="slider-area">

<div class="single-slide-item overlay">
<div class="container">
<div class="row">
<div class="col-lg-5">
<div class="book-a-car">
<form action="index.html">

<div class="pickup-location book-item">
<h4>PICK-UP LOCATION:</h4>
<select class="custom-select">
<option selected>Select</option>
<option value="1">Dhaka</option>
<option value="2">Comilla</option>
<option value="3">Barishal</option>
<option value="3">Rangpur</option>
</select>
</div>


<div class="pick-up-date book-item">
<h4>PICK-UP DATE:</h4>
<input id="startDate" placeholder="Pick Up Date" />
<div class="return-car">
<h4>Return DATE:</h4>
<input id="endDate" placeholder="Return Date" />
</div>
</div>


<div class="choose-car-type book-item">
<h4>CHOOSE CAR TYPE:</h4>
<select class="custom-select">
<option selected>Select</option>
<option value="1">BMW</option>
<option value="2">Audi</option>
<option value="3">Lexus</option>
</select>
</div>

<div class="book-button text-center">
<button class="book-now-btn">Book Now</button>
</div>
</form>
</div>
</div>
<div class="col-lg-7 text-right">
<div class="display-table">
<div class="display-table-cell">
<div class="slider-right-text">
<h1>BOOK A CAR TODAY!</h1>
<p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</section>


<section id="about-area" class="section-padding">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>About us</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>India's Largest Intercity and Local Cab Services.</p>
</div>
</div>

</div>
<div class="row">

<div class="col-lg-6">
<div class="display-table">
<div class="display-table-cell">
<div class="about-content">
<p>To us, a road trip is one of the most exhilarating ways to travel the length and breadth of India. There's always something to look at, something to explore and to experience. Because we love travelling by road so much, we've been striving to make sure you have a great experience too. We wanted more of you to go on a road trip, and more of you to experience the same joys of travel that we do. Instead of driving, why not sit back and take our chauffeur driven cabs on your next vacation? We believe that the time you spend on your vacation should be entirely yours. So now, we are in 98 cities across India - to help you travel to wherever your heart desires.</p>
<div class="about-btn">
<a href="#">Book a Car</a>
<a href="#">Contact Us</a>
</div>
</div>
</div>
</div>
</div>

 
<div class="col-lg-6">
<div class="about-video">
<iframe src="https://player.vimeo.com/video/121982328?title=0&byline=0&portrait=0"></iframe>
</div>
</div>

</div>
</div>
</section>


<div id="partner-area">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 text-center">
<div class="partner-content-wrap">

<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-1.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-2.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-3.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-4.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-5.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-1.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-4.png" alt="JSOFT">
</div>
</div>
</div>
 
</div>
</div>
</div>
</div>
</div>


<section id="service-area" class="section-padding">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>Our Services</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>

<div class="row">

<div class="col-lg-4 text-center">
<div class="service-item">
<i class="fa fa-taxi"></i>
<h3>RENTAL CAR</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
</div>
</div>


<div class="col-lg-4 text-center">
<div class="service-item">
<i class="fa fa-cog"></i>
<h3>CAR REPAIR</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
</div>
</div>


<div class="col-lg-4 text-center">
<div class="service-item">
<i class="fa fa-map-marker"></i>
<h3>TAXI SERVICE</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
</div>
</div>


<div class="col-lg-4 text-center">
<div class="service-item">
<i class="fa fa-life-ring"></i>
<h3>life insurance</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
</div>
</div>


<div class="col-lg-4 text-center">
<div class="service-item">
<i class="fa fa-bath"></i>
<h3>car wash</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
</div>
</div>


<div class="col-lg-4 text-center">
<div class="service-item">
<i class="fa fa-phone"></i>
<h3>call driver</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
</div>
</div>

</div>

</div>
</section>


<section id="funfact-area" class="overlay section-padding">
<div class="container">
<div class="row">
<div class="col-lg-11 col-md-12 m-auto">
<div class="funfact-content-wrap">
<div class="row">

<div class="col-lg-4 col-md-6">
<div class="single-funfact">
<div class="funfact-icon">
<i class="fa fa-smile-o"></i>
</div>
<div class="funfact-content">
<p><span class="counter">550</span>+</p>
<h4>HAPPY CLIENTS</h4>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-funfact">
<div class="funfact-icon">
<i class="fa fa-car"></i>
</div>
<div class="funfact-content">
<p><span class="counter">250</span>+</p>
<h4>CARS IN STOCK</h4>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-funfact">
<div class="funfact-icon">
<i class="fa fa-bank"></i>
</div>
<div class="funfact-content">
<p><span class="counter">50</span>+</p>
<h4>office in cities</h4>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>


<section id="choose-car" class="section-padding">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>Choose your Car</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>
<div class="row">

<div class="col-lg-12">
<div class="choose-content-wrap">

<ul class="nav nav-tabs" id="myTab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="home-tab" data-toggle="tab" href="#popular_cars" role="tab" aria-selected="true">popular Cars</a>
</li>
<li class="nav-item">
<a class="nav-link" id="profile-tab" data-toggle="tab" href="#newest_cars" role="tab" aria-selected="false">newest cars</a>
</li>
<li class="nav-item">
<a class="nav-link" id="contact-tab" data-toggle="tab" href="#office_map" role="tab" aria-selected="false">Our Office</a>
</li>
</ul>


<div class="tab-content" id="myTabContent">

<div class="tab-pane fade show active" id="popular_cars" role="tabpanel" aria-labelledby="home-tab">

<div class="popular-cars-wrap">

<div class="popucar-menu text-center">
<a href="#" data-filter="*" class="active">all</a>
<a href="#" data-filter=".con">Conver</a>
<a href="#" data-filter=".hat">Truck</a>
<a href="#" data-filter=".mpv">MPV</a>
<a href="#" data-filter=".sedan">Sedan</a>
<a href="#" data-filter=".suv">SUV</a>
</div>


<div class="row popular-car-gird">

<div class="col-lg-4 col-md-6 con suv mpv">
<div class="single-popular-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-1.jpg">
<img src="assets/img/car/car-1.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Dodge Ram 1500</a>
<span class="price"><i class="fa fa-tag"></i> $55/day</span>
</h3>
<h5>HATCHBACK</h5>
<div class="p-car-feature">
<a href="#">2017</a>
<a href="#">manual</a>
<a href="#">AIR CONDITION</a>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6 hat sedan">
<div class="single-popular-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-2.jpg">
<img src="assets/img/car/car-2.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Dodge Ram 1500</a>
<span class="price"><i class="fa fa-tag"></i> $55/day</span>
</h3>
<h5>HATCHBACK</h5>
<div class="p-car-feature">
<a href="#">2017</a>
<a href="#">manual</a>
<a href="#">AIR CONDITION</a>
</div>
</div>
</div>
</div>

 
<div class="col-lg-4 col-md-6 suv con mpv">
<div class="single-popular-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-3.jpg">
<img src="assets/img/car/car-3.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Dodge Ram 1500</a>
<span class="price"><i class="fa fa-tag"></i> $55/day</span>
</h3>
<h5>HATCHBACK</h5>
<div class="p-car-feature">
<a href="#">2017</a>
<a href="#">manual</a>
<a href="#">AIR CONDITION</a>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6 con hat">
<div class="single-popular-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-4.jpg">
<img src="assets/img/car/car-4.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Dodge Ram 1500</a>
<span class="price"><i class="fa fa-tag"></i> $55/day</span>
</h3>
<h5>HATCHBACK</h5>
<div class="p-car-feature">
<a href="#">2017</a>
<a href="#">manual</a>
<a href="#">AIR CONDITION</a>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6 con sedan mpv">
<div class="single-popular-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-5.jpg">
<img src="assets/img/car/car-5.jpg" alt="JSOFT">
</a>
</div>
 <div class="p-car-content">
<h3>
<a href="#">Dodge Ram 1500</a>
<span class="price"><i class="fa fa-tag"></i> $55/day</span>
</h3>
<h5>HATCHBACK</h5>
<div class="p-car-feature">
<a href="#">2017</a>
<a href="#">manual</a>
<a href="#">AIR CONDITION</a>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6 hat suv mpv">
<div class="single-popular-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-6.jpg">
<img src="assets/img/car/car-6.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Dodge Ram 1500</a>
<span class="price"><i class="fa fa-tag"></i> $55/day</span>
</h3>
<h5>HATCHBACK</h5>
<div class="p-car-feature">
<a href="#">2017</a>
<a href="#">manual</a>
<a href="#">AIR CONDITION</a>
</div>
</div>
</div>
</div>

</div>

</div>

</div>


<div class="tab-pane fade" id="newest_cars" role="tabpanel" aria-labelledby="profile-tab">

<div class="popular-cars-wrap">

<div class="newcar-menu text-center">
<a href="#" data-filter="*" class="active">all</a>
<a href="#" data-filter=".toyota">toyota</a>
<a href="#" data-filter=".bmw">bmw</a>
<a href="#" data-filter=".audi">audi</a>
<a href="#" data-filter=".tata">Tata</a>
</div>
 

<div class="row newest-car-gird">

<div class="col-lg-4 col-md-6 tata audi">
<div class="single-new-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-6.jpg">
<img src="assets/img/car/car-6.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Toyota RAV4 EV</a>
<span class="price"><i class="fa fa-tag"></i> $35/day</span>
</h3>
<h5>Toyota</h5>
<div class="p-car-feature">
<a href="#">2018</a>
<a href="#">Auto</a>
<a href="#">Non AIR CONDITION</a>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6 bmw tata toyota">
<div class="single-new-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-5.jpg">
<img src="assets/img/car/car-5.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Toyota RAV4 EV</a>
<span class="price"><i class="fa fa-tag"></i> $35/day</span>
</h3>
<h5>Toyota</h5>
<div class="p-car-feature">
<a href="#">2018</a>
<a href="#">Auto</a>
<a href="#">Non AIR CONDITION</a>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6 bmw">
<div class="single-new-car">
<div class="p-car-thumbnails">
<a class="car-hover" href="assets/img/car/car-4.jpg">
 <img src="assets/img/car/car-4.jpg" alt="JSOFT">
</a>
</div>
<div class="p-car-content">
<h3>
<a href="#">Toyota RAV4 EV</a>
<span class="price"><i class="fa fa-tag"></i> $35/day</span>
</h3>
<h5>Toyota</h5>
<div class="p-car-feature">
<a href="#">2018</a>
<a href="#">Auto</a>
<a href="#">Non AIR CONDITION</a>
</div>
</div>
</div>
</div>

</div>

</div>

</div>


<div class="tab-pane fade" id="office_map" role="tabpanel" aria-labelledby="contact-tab">
<div class="map-area">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.6538067244583!2d90.37092511435942!3d23.79533919297639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0cce3251ab1%3A0x7a2aa979862a9643!2sJSoft!5e0!3m2!1sen!2sbd!4v1516771096779"></iframe>
</div>
</div>

</div>

</div>
</div>

</div>
</div>
</section>


<section id="pricing-area" class="section-padding overlay">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>Only quality for clients</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>

<div class="row">

<div class="col-lg-4 col-md-6 text-center">
<div class="single-pricing-table">
<h3>BUSINESS</h3>
<h2>$ 55.99</h2>
<h5>PER MONTH</h5>
<ul class="package-list">
<li>FREE VEHICLE DELIVERY</li>
<li>WEDDINGS CELEBRATIONS</li>
<li>FULL INSURANCE INCLUDED</li>
<li>TRANSPORT ABROAD</li>
<li>ALL INCLUSIVE MINI BAR</li>
<li>CHAUFFER INCLUDED IN PRICE</li>
</ul>
</div>
</div>
 

<div class="col-lg-4 col-md-6 text-center">
<div class="single-pricing-table">
<h3>Trial</h3>
<h2>Free</h2>
<h5>PER MONTH</h5>
<ul class="package-list">
<li>FREE VEHICLE DELIVERY</li>
<li>OTHER CELEBRATIONS</li>
<li>FULL INSURANCE</li>
<li>TRANSPORT ABROAD</li>
<li>MINI BAR</li>
<li>INCLUDED IN PRICE</li>
</ul>
</div>
</div>


<div class="col-lg-4 col-md-6 text-center">
<div class="single-pricing-table">
<h3>standard</h3>
<h2>$ 35.99</h2>
<h5>PER MONTH</h5>
<ul class="package-list">
<li>DELIVERY AT AIRPORT</li>
<li>WEDDINGS AND OTHER</li>
<li>FULL INCLUDED</li>
<li>TRANSPORT ABROAD</li>
<li>ALL MINI BAR</li>
<li>CHAUFFER PRICE</li>
</ul>
</div>
</div>

</div>

</div>
</section>


<section id="testimonial-area" class="section-padding">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>Testimonials</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet elit.</p>
</div>
</div>

</div>
<div class="row">
<div class="col-lg-8 col-md-12 m-auto">
<div class="testimonial-content">

<div class="single-testimonial">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis totam obcaecati impedit, at autem repellat vel magni architecto veritatis sed.</p>
<h3>Vongchong Smith</h3>
<div class="client-logo">
<img src="assets/img/client/client-pic-1.jpg" alt="JSOFT">
</div>
</div>


<div class="single-testimonial">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis totam obcaecati impedit, at autem repellat vel magni architecto veritatis sed.</p>
<h3>Amader Tuni</h3>
<div class="client-logo">
<img src="assets/img/client/client-pic-3.jpg" alt="JSOFT">
</div>
</div>


<div class="single-testimonial">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis totam obcaecati impedit, at autem repellat vel magni architecto veritatis sed.</p>
<h3>Atex Tuntuni Smith</h3>
<div class="client-logo">
<img src="assets/img/client/client-pic-2.jpg" alt="JSOFT">
</div>
</div>

</div>
</div>
</div>
</div>
</section>


<div id="mobileapp-video-bg"></div>
<section id="mobile-app-area">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="mobile-app-content">
<h2>SAVE 30% WITH THE APP</h2>
<p>Easy &amp; Fast - Book a car in 60 seconds</p>
<div class="app-btns">
<a href="#"><i class="fa fa-android"></i> Android Store</a>
<a href="#"><i class="fa fa-apple"></i> Apple Store</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section id="tips-article-area" class="section-padding">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>Tips and articles</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>

<div class="row">

<div class="col-lg-12">
<article class="single-article">
<div class="row">

<div class="col-lg-5">
<div class="article-thumb">
<img src="assets/img/article/arti-thumb-1.jpg" alt="JSOFT">
</div>
</div>


<div class="col-lg-7">
<div class="display-table">
<div class="display-table-cell">
<div class="article-body">
<h3><a href="article-details.html">Wliquam sit amet urna eullam</a></h3>
<div class="article-meta">
<a href="#" class="author">By :: <span>Admin</span></a>
<a href="#" class="commnet">Comments :: <span>10</span></a>
</div>
<div class="article-date">25 <span class="month">jan</span></div>
<p>Wlam aiber vestibulum fringilla oremedad ipsum dolor sit amet consectetur adipisicing elit sed doned eiusmod tempored incididunt ut labore et dolore magna aliquaa enimd ad minim veniad.</p>
<a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
</div>
</div>
 
</div>
</article>
</div>


<div class="col-lg-12">
<article class="single-article middle">
<div class="row">

<div class="col-lg-5 d-xl-none">
<div class="article-thumb">
<img src="assets/img/article/arti-thumb-2.jpg" alt="JSOFT">
</div>
</div>


<div class="col-lg-7">
<div class="display-table">
<div class="display-table-cell">
<div class="article-body">
<h3><a href="article-details.html">fringilla oremedad ipsum dolor sit</a></h3>
<div class="article-meta">
<a href="#" class="author">By :: <span>Admin</span></a>
<a href="#" class="commnet">Comments :: <span>10</span></a>
</div>
<div class="article-date">14<span class="month">feb</span></div>
<p>Wlam aiber vestibulum fringilla oremedad ipsum dolor sit amet consectetur adipisicing elit sed doned eiusmod tempored incididunt ut labore et dolore magna aliquaa enimd ad minim veniad.</p>
<a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
</div>
</div>


<div class="col-lg-5 d-none d-xl-block">
<div class="article-thumb">
<img src="assets/img/article/arti-thumb-2.jpg" alt="JSOFT">
</div>
</div>

</div>
</article>
</div>


<div class="col-lg-12">
<article class="single-article">
<div class="row">

<div class="col-lg-5">
<div class="article-thumb">
<img src="assets/img/article/arti-thumb-3.jpg" alt="JSOFT">
</div>
</div>


<div class="col-lg-7">
<div class="display-table">
<div class="display-table-cell">
<div class="article-body">
<h3><a href="article-details.html">Tempored incididunt ut labore</a></h3>
<div class="article-meta">
<a href="#" class="author">By :: <span>Admin</span></a>
 <a href="#" class="commnet">Comments :: <span>10</span></a>
</div>
<div class="article-date">17 <span class="month">feb</span></div>
<p>Wlam aiber vestibulum fringilla oremedad ipsum dolor sit amet consectetur adipisicing elit sed doned eiusmod tempored incididunt ut labore et dolore magna aliquaa enimd ad minim veniad.</p>
<a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
</div>
</div>
</div>
</div>

</div>
</article>
</div>

</div>

</div>
</section>


<section id="footer-area">

<div class="footer-widget-area">
<div class="container">
<div class="row">

<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>About Us</h2>
<div class="widget-body">
<!-- <img src="assets/img/logo.png" alt="JSOFT"> -->
<h1 style="color: aliceblue;
font-weight: 600;
font-family: fantasy;">CARRENT</h1>
<p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>
<div class="newsletter-area">
<form action="index.html">
<input type="email" placeholder="Subscribe Our Newsletter">
<button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
</form>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>Recent Posts</h2>
<div class="widget-body">
<ul class="recent-post">
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Lorem ipsum dolor sit amet
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
consectetur adipisicing elit?
<i class="fa fa-long-arrow-right"></i>
 </a>
</li>
</ul>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>get touch</h2>
<div class="widget-body">
<p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>
<ul class="get-touch">
<li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
<li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
<li><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b0dbd1cac5dbd1ddd4c58883f0d7ddd1d9dc9ed3dfdd">[email&#160;protected]</a></li>
</ul>
<a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="footer-bottom-area">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<p>
Copyright 
</p>
</div>
</div>
</div>
</div>

</section>


<div class="scroll-top">
<img src="assets/img/scroll-top.png" alt="JSOFT">
</div>

