<!-- 
<div class="preloader">
<div class="preloader-spinner">
<div class="loader-content">
<img src="assets/img/preloader.gif" alt="JSOFT">
</div>
</div>
</div> -->


<header id="header-area" class="fixed-top">

<div id="header-top" class="d-none d-xl-block">
<div class="container">
<div class="row">

<div class="col-lg-3 text-left">
<i class="fa fa-map-marker"></i> 802/2, Mirpur, Dhaka
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-mobile"></i> +1 800 345 678
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
</div>


<div class="col-lg-3 text-right">
<div class="header-social-icons">
<a href="#"><i class="fa fa-behance"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
</div>
</div>

</div>
</div>
</div>


<div id="header-bottom">
<div class="container">
<div class="row">

<div class="col-lg-4">
<a href="index.html" class="logo">
<img src="assets/img/logo.png" alt="JSOFT">
</a>
</div>


<div class="col-lg-8 d-none d-xl-block">
<nav class="mainmenu alignright">
<ul>
<li><a href="#">Home</a>
<ul>
<!-- <li><a href="index.html">Home 1</a></li>
<li><a href="index2.html">Home 2</a></li>
<li><a href="index3.html">Home 3</a></li> -->
</ul>
</li>
<li><a routerLink="/customer/about">About</a></li>
<li><a routerLink="/customer/service">services</a></li>
<li><a href="#">Cars</a>
<ul>
<li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
<li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
<li><a href="car-without-sidebar.html">Car Without Sidebar</a></li>
<li><a href="car-details.html">Car Details</a></li>
</ul>
</li>
<li class="active"><a href="index.html">Pages</a>
<ul>
<li><a href="package.html">Pricing</a></li>
<li><a href="driver.html">Driver</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="help-desk.html">Help Desk</a></li>
<li><a href="login.html">Log In</a></li>
<li><a href="register.html">Register</a></li>
<li><a href="404.html">404</a></li>
</ul>
</li>
<!-- <li><a href="#">Blog</a>
<ul>
<li><a href="article.html">Blog Page</a></li>
<li><a href="article-details.html">Blog Details</a></li>
</ul>
</li> -->
<li><a routerLink="/customer/contact">Contact</a></li>
<li><a routerLink="/customer/register">Register</a></li>
<li><a routerLink="/customer/login">Log In</a></li>
</ul>
</nav>
</div>

</div>
</div>
</div>

</header>


<section id="page-title-area" class="section-padding overlay">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>SignUp</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>
</div>
</section>


<section id="lgoin-page-wrap" class="section-padding">
<div class="container">
<div class="row">
<div class="col-lg-5 col-md-8 m-auto">
<div class="login-page-content">
<div class="login-form">
<h3>Sign Up</h3>
<form action="index.html">
<div class="name">
<div class="row">
<div class="col-md-6">
<input type="text" placeholder="First Name">
</div>
<div class="col-md-6">
<input type="text" placeholder="Last Name">
</div>
</div>
</div>
<div class="username">
<input type="email" placeholder="Email">
</div>
<div class="username">
<input type="text" placeholder="Username">
</div>
<div class="password">
<input type="password" placeholder="Password">
</div>
<div class="log-btn">
<button type="submit"><i class="fa fa-check-square"></i> Sign Up</button>
</div>
</form>
</div>
<div class="login-other">
<span class="or">or</span>
<a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Signup With Facebook</a>
<a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Signup With Google</a>
</div>
<div class="create-ac">
<p>Have an account? <a href="login.html">Sign In</a></p>
</div>
<div class="login-menu">
<a href="about.html">About</a>
<span>|</span>
<a href="contact.html">Contact</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section id="footer-area">

<div class="footer-widget-area">
<div class="container">
<div class="row">

<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>About Us</h2>
<div class="widget-body">
<img src="assets/img/logo.png" alt="JSOFT">
<p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>
<div class="newsletter-area">
<form action="index.html">
<input type="email" placeholder="Subscribe Our Newsletter">
<button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
</form>
</div>
</div>
</div>
</div>



<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>Recent Posts</h2>
<div class="widget-body">
<ul class="recent-post">
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Lorem ipsum dolor sit amet
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
consectetur adipisicing elit?
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
</ul>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>get touch</h2>
<div class="widget-body">
<p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>
<ul class="get-touch">
<li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
<li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
<li><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9af1fbe0eff1fbf7feefa2a9dafdf7fbf3f6b4f9f5f7">[email&#160;protected]</a></li>
</ul>
<a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="footer-bottom-area">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<p>
Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="7d1b8fa6e5330692eb976cda-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
</p>
</div>
</div>
</div>
</div>

</section>


<div class="scroll-top">
<img src="assets/img/scroll-top.png" alt="JSOFT">
</div>

