

<!-- <div class="preloader">
<div class="preloader-spinner">
<div class="loader-content">
<img src="assets/img/preloader.gif" alt="JSOFT">
</div>
</div>
</div> -->


<header id="header-area" class="fixed-top">

<div id="header-top" class="d-none d-xl-block">
<div class="container">
<div class="row">

<div class="col-lg-3 text-left">
<i class="fa fa-map-marker"></i> 802/2, Mirpur, Dhaka
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-mobile"></i> +1 800 345 678
</div>


<div class="col-lg-3 text-center">
<i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
</div>


<div class="col-lg-3 text-right">
<div class="header-social-icons">
<a href="#"><i class="fa fa-behance"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
</div>
</div>

</div>
</div>
</div>


<div id="header-bottom">
<div class="container">
<div class="row">

<div class="col-lg-4">
<a href="index.html" class="logo">
<img src="assets/img/logo.png" alt="JSOFT">
</a>
</div>


<div class="col-lg-8 d-none d-xl-block">
<nav class="mainmenu alignright">
<ul>
<li><a href="#">Home</a>
<ul>
<!-- <li><a href="index.html">Home 1</a></li>
<li><a href="index2.html">Home 2</a></li>
<li><a href="index3.html">Home 3</a></li> -->
</ul>
</li>
<li class="active"><a routerLink="/customer/about">About</a></li>
<li><a routerLink="/customer/service">services</a></li>
<li><a href="#">Cars</a>
<ul>
<li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
<li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
<li><a href="car-without-sidebar.html">Car Without Sidebar</a></li>
<li><a href="car-details.html">Car Details</a></li>
</ul>
</li>
<li><a href="index.html">Pages</a>
<ul>
<li><a href="package.html">Pricing</a></li>
<li><a href="driver.html">Driver</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="help-desk.html">Help Desk</a></li>
<li><a href="login.html">Log In</a></li>
<li><a href="register.html">Register</a></li>
<li><a href="404.html">404</a></li>
</ul>
</li>
<!-- <li><a href="#">Blog</a>
<ul>
<li><a href="article.html">Blog Page</a></li>
<li><a href="article-details.html">Blog Details</a></li>
</ul>
</li> -->
<li><a routerLink="/customer/contact">Contact</a></li>

<li><a routerLink="/customer/register">Register</a></li>
<li><a routerLink="/customer/login">Log In</a></li>
</ul>
</nav>
</div>

</div>
</div>
</div>

</header>


<section id="page-title-area" class="section-padding overlay">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>About US</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>
</div>
</section>


<section id="about-area" class="section-padding">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>About us</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>

</div>
<div class="row">

<div class="col-lg-6">
<div class="display-table">
<div class="display-table-cell">
<div class="about-content">
<p>Lorem simply dummy is a texted of the printing costed and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
</div>
</div>
</div>
</div>


<div class="col-lg-6">
<div class="about-image">
<img src="assets/img/home-2-about.png" alt="JSOFT">
</div>
</div>

</div>

<div class="about-feature-area">
<div class="row">

<div class="col-lg-4">
<div class="about-feature-item active">
<i class="fa fa-car"></i>
<h3>ALL BRANDS</h3>
<p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
</div>
</div>


<div class="col-lg-4">
<div class="about-feature-item">
<i class="fa fa-car"></i>
<h3>ALL BRANDS</h3>
<p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
</div>
</div>


<div class="col-lg-4">
<div class="about-feature-item">
<i class="fa fa-car"></i>
<h3>ALL BRANDS</h3>
<p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
</div>
</div>

</div>
</div>

</div>
</section>


<section id="our-facility" class="section-padding overlay">
<div class="container">
<div class="row">

<div class="col-lg-3 col-md-6">
<div class="single-our-facility">
<h3>LIMO PARTY RENT</h3>
<ul>
<li>Parallax Everywhere</li>
<li>Interactive and Fun</li>
<li>Responsive and Refined</li>
<li>Color it All</li>
<li>Customize and Create</li>
</ul>
</div>
</div>


<div class="col-lg-3 col-md-6">
<div class="single-our-facility">
<h3>BUSINESS LIMO RENT</h3>
<ul>
<li>Parallax Everywhere</li>
<li>Interactive and Fun</li>
<li>Responsive and Refined</li>
<li>Color it All</li>
<li>Customize and Create</li>
</ul>
</div>
</div>


<div class="col-lg-3 col-md-6">
<div class="single-our-facility">
<h3>HOTEL/CASINO/HOTEL</h3>
<ul>
<li>Parallax Everywhere</li>
<li>Interactive and Fun</li>
<li>Responsive and Refined</li>
<li>Color it All</li>
<li>Customize and Create</li>
</ul>
</div>
</div>


<div class="col-lg-3 col-md-6">
<div class="single-our-facility">
<h3>AIRPORT TRANSPORT</h3>
<ul>
<li>Parallax Everywhere</li>
<li>Interactive and Fun</li>
<li>Responsive and Refined</li>
<li>Color it All</li>
<li>Customize and Create</li>
</ul>
</div>
</div>

</div>
</div>
</section>


<div id="partner-area">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 text-center">
<div class="partner-content-wrap">

<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-1.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-2.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-3.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-4.png" alt="JSOFT">
</div>
</div>
</div>

 
<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-5.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-1.png" alt="JSOFT">
</div>
</div>
</div>


<div class="single-partner">
<div class="display-table">
<div class="display-table-cell">
<img src="assets/img/partner/partner-logo-4.png" alt="JSOFT">
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>


<section id="testimonial-area" class="section-padding">
<div class="container">
<div class="row">

<div class="col-lg-12">
<div class="section-title  text-center">
<h2>Testimonials</h2>
<span class="title-line"><i class="fa fa-car"></i></span>
<p>Lorem ipsum dolor sit amet elit.</p>
</div>
</div>

</div>
<div class="row">
<div class="col-lg-8 col-md-12 m-auto">
<div class="testimonial-content">

<div class="single-testimonial">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis totam obcaecati impedit, at autem repellat vel magni architecto veritatis sed.</p>
<h3>Vongchong Smith</h3>
<div class="client-logo">
<img src="assets/img/client/client-pic-1.jpg" alt="JSOFT">
</div>
</div>


<div class="single-testimonial">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis totam obcaecati impedit, at autem repellat vel magni architecto veritatis sed.</p>
<h3>Amader Tuni</h3>
<div class="client-logo">
<img src="assets/img/client/client-pic-3.jpg" alt="JSOFT">
</div>
</div>


<div class="single-testimonial">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis totam obcaecati impedit, at autem repellat vel magni architecto veritatis sed.</p>
<h3>Atex Tuntuni Smith</h3>
<div class="client-logo">
<img src="assets/img/client/client-pic-2.jpg" alt="JSOFT">
</div>
</div>

</div>
</div>
</div>
</div>
</section>


<section id="footer-area">

<div class="footer-widget-area">
<div class="container">
<div class="row">

<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>About Us</h2>
<div class="widget-body">
<img src="assets/img/logo.png" alt="JSOFT">
<p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>
<div class="newsletter-area">
<form action="index.html">
<input type="email" placeholder="Subscribe Our Newsletter">
<button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
</form>
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>Recent Posts</h2>
<div class="widget-body">
<ul class="recent-post">
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Lorem ipsum dolor sit amet
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
Hello Bangladesh!
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
<li>
<a href="#">
consectetur adipisicing elit?
<i class="fa fa-long-arrow-right"></i>
</a>
</li>
</ul>
</div>
</div>
</div>


<div class="col-lg-4 col-md-6">
<div class="single-footer-widget">
<h2>get touch</h2>
<div class="widget-body">
<p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>
<ul class="get-touch">
<li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
 <li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
<li><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9ef5ffe4ebf5fff3faeba6addef9f3fff7f2b0fdf1f3">[email&#160;protected]</a></li>
</ul>
<a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="footer-bottom-area">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<p>
Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="741db8f7d20efbd8dbb1248f-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
</p>
</div>
</div>
</div>
</div>

</section>


<div class="scroll-top">
<img src="assets/img/scroll-top.png" alt="JSOFT">
</div>



